<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="Build/UnityLoader.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css?">
  </head>
  <body class="no-select">
    <div class="heading"></div>
      <div class="grid">
          <div class="title"><span class="title-span" lang="en-gb">Welcome to dannyarnold.com</span></div>
          <div class="content"><div class="content-span" id="gameContainer"></div></div>
          <div class="footer"><span class="footer-span" lang="en-gb">dannyarnold.com (C) 2019</span></div>
      </div>
      <div id="cover">
          <div id="notice">
              <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
          </div>
      </div>
  </body>
</html>